<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/addon-fim/1-3/index.html">File Integrity Monitoring Add-on for PCF</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/installing.html">Installing the FIM Add-on for PCF</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-3/installing-bosh.html">Installing FIM Add-on for PCF on BOSH Director</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/upgrading.html">Upgrading the FIM Add-on for PCF</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/updating-for-xenial.html">Updating FIM Add-on for PCF to Run with Xenial Stemcells</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/configuration.html">Configuring the FIM Add-on for PCF</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/log-examples.html">Examples of FIM Log Messages</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/troubleshooting.html">Troubleshooting the FIM Add-on for PCF</a>
      </li>
      <li>
        <a href="/addon-fim/1-3/uninstalling.html">Uninstalling the FIM Add-on for PCF</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
